/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* черный цвет #000000 */
/* акцент #2196F3 */ 
/* белый цвет #FFFFFF */ 
/* футер rgba(255, 255, 255, 0.6) */
/* вторичный цвет фона #2F303A */
/* дополнительный цвет фона #F5F4FA */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --white-color: #FFFFFF;
  --primary-black-color: #000000;
  --secondary-black-color: rgba(255, 255, 255, 0.6);
  --secondary-bg-color: #2F303A;
  --additional-bg-color: #F5F4FA;
}
  
body{
  background-color: var(--white-color);
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  color: var(--primary-black-color);
}

.part {
  color: var(--accent-color);
}

/* Site nav */ 

.site-nav a {
  color: var(--title-text-color);
}

/* Contact nav */

.contact-nav a {
  color: var(--primary-text-color);
}

/* Button */ 

.button {
  color: var(--title-text-color);
  background-color: var(--additional-bg-color);
}

.primary.button {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Section */

.section-title {
  color: var(--title-text-color);
}

/* Footer */

footer {
  background-color: var(--secondary-bg-color);
}

.address .text {
  color: var(--white-color);
}

.address .link {
  color: var(--secondary-black-color);
}

.logo-footer {
  color: var(--white-color);
}