/* Site nav */ 

.site-nav .link:hover,
.site-nav .link:focus {     
  color: var(--accent-color);
}
  
/* Contact nav */

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
} 

/* Hero */

.hero {
  background-color: var(--secondary-bg-color);
}

.hero-title {
  color: var(--white-color);
}

/* Features */

.feature .title {
  color: var(--title-text-color);
}

/* Examples */
.work {
  list-style: none;
}

/* Team */

.section-team {
  background-color: var(--additional-bg-color);
} 

.team .title {
  color: var(--title-text-color);
}

.team .text {
  color: var(--primary-text-color);
}
