/* Site nav */ 

.site-nav a {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {     
  color: var(--accent-color);
}
  
/* Contact nav */

.contact-nav a {
  color: var(--primary-text-color);
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
} 

/* Hero */

.hero {
  background-color: #2F303A;
}

.hero-title {
  color: #FFFFFF;
}

/* Section */

.section-title {
  color: var(--title-text-color);
}

/* Features */

.feature-list .title {
  color: var(--title-text-color);
}

/* Examples */
.work-list {
  list-style: none;
}

/* Team */

.section-team {
  background-color: #F5F4FA;
} 

.team-list .title {
  color: var(--title-text-color);
}

.team-list .text {
  color: var(--primary-text-color);
}
