body{
  background-color: #E5E5E5;
  color: #757575;
}

/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* черный цвет #000000 */
/* акцент #2196F3 */ 
/* белый цвет #FFFFFF */ 
/* rgba(255, 255, 255, 0.6) */
/* вторичный цвет фона #2F303A */
/* дополнительный цвет фона ##F5F4FA */

.logo{
    color: #000000;
}